body {
    font-family: Arial, sans-serif;
    background: rgb(220, 53, 69); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    color: #333;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
}

h1 {
    color: #3467c7;
}

.card {
    background: #f4f6f8;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
}

.actions button {
    background: #1e3c72;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.actions button:hover {
    background: #2a5298;
}

.note {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
}
